<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="work.technie.motonavigator">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MotoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.LaunchScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppThemeNoActionBarFullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoActionBarFullScreen" />

        <activity
            android:name=".activity.BaseActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />
        <provider
            android:name=".data.MotorProvider"
            android:authorities="work.technie.motonavigator"
            android:exported="true" />

        <receiver
            android:name=".widget.CollectionWidgetProvider"
            android:enabled="true"
            android:label="Drives">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="work.technie.motonavigator.ACTION_DATA_UPDATED" />
                <action android:name="work.technie.motonavigator.UPDATE_MY_WIDGET" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".widget.NavWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>